body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.floating-cart {
  background: rgba(0,0,0,0.5);
  color: white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  font-size: 26px;
  position: relative;
  transition: 0.25s ease;
}

.floating-cart:hover {
  transform: scale(1.08);
}
