.details-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: flex-start;
}

.details-image-box img {
  width: 450px;
  border-radius: 15px;
}

.details-info {
  flex: 1;
}

.details-info h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* COLORS */
.colors {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.color-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: 0.2s;
}

.color-circle.active {
  border: 2px solid #000;
  transform: scale(1.15);
}

/* SIZES */
.sizes {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.size-btn {
  padding: 8px 15px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}

.size-btn.active {
  background: black;
  color: white;
  border-color: black;
}

/* ADD BUTTON */
.add-btn {
  margin-top: 20px;
  padding: 12px 20px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #333;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .details-container {
    flex-direction: column;
  }

  .details-image-box img {
    width: 100%;
  }
}
.left-section {
  width: 50%;
}

.main-image {
  width: 100%;
  border-radius: 15px;
}

.thumbnails {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

.thumb {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  object-fit: cover;
}

.thumb.active {
  border: 2px solid black;
}

.caption {
  margin-top: 15px;
  font-size: 15px;
  color: #555;
  line-height: 1.4;
}
.caption {
  font-size: 22px;
  font-weight: 700;
  color: #222;
  margin-top: 20px;
  line-height: 1.9;
}
